node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.DS_Store
functions/node_modules/
functions/lib/
firebase-debug.log
.firebase/
